.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
   
    flex-wrap: wrap;
}

.wrapper h1 {
    text-align: center;
    width: 100%;
   }

   .animal-wrapper {
    border: solid black 1px;
    margin: 10px;
    padding: 10px;
    width: 200px;
   }
   .animal-wrapper button {
    font-size: 1em;
    border: solid black 1px;
    padding: 10;
    background: none;
    cursor: pointer;
    margin: 10px 0;
   }

   .details {
    border-top: gray solid 1px;
    margin: 20px 0;
   }